<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">

<mat-card *ngIf="!is_sso">
  <mat-card-content>
    <h2>Login with Username and Password</h2>

    <form>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <div style="display: flex; justify-content: center; align-items: center;">
      <button mat-raised-button color="primary" (click)="login_logic()">Login</button>
    </div>
    </form>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="is_sso">
  <mat-card-content>
    <h2>Login with Single Sign-On (SSO)</h2>

    <form>
      <div style="display: flex; justify-content: center; align-items: center;">

      <button mat-raised-button color="primary" (click)="sso_logic()" >Login with SSO</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
