<mat-toolbar color="primary" layout="row">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <div fxFlex fxLayoutAlign="end end">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="saveReport()">
      <mat-icon>saved_search</mat-icon>
      <span>Save Report</span>
    </button>
    <button mat-menu-item>
      <mat-slide-toggle [checked]="checked" (change)="set_auto($event)"> Auto Refresh </mat-slide-toggle>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav [mode]="'over'" [style.width]="mySize">
    <mat-nav-list>
      <app-sidebar (size)="set_size($event)"></app-sidebar>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div layout="row" ng-cloak>
      <div layout="row" style="width: 100%; z-index: 5">
        <div flex>
          <div style="float: right">
            <button
              class="float"
              mat-mini-fab
              [color]="color"
              aria-label="Example icon button with a filter list icon"
              (click)="refresh_data()"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
