<span *ngIf="type === 'box'">
  <app-box [url]="look_up"></app-box>
</span>
<span *ngIf="type === 'date'">
  <app-datetime [url]="look_up" [isSidebar]="isSidebar"></app-datetime>
</span>
<span *ngIf="type === 'table'">
  <app-table [url]="look_up"></app-table>
</span>
<span *ngIf="type === 'chart'">
  <app-plot [url]="look_up"></app-plot>
</span>
<span *ngIf="type === 'checkbox'">
  <app-checkbox [url]="look_up"></app-checkbox>
</span>
<span *ngIf="type === 'radio'">
  <app-radio [url]="look_up" [isSidebar]="isSidebar"></app-radio>
</span>
<span *ngIf="type === 'slider'">
  <app-slider [url]="look_up" [isSidebar]="isSidebar"></app-slider>
</span>
<span *ngIf="type === 'button_toggle'">
  <app-button-toggle
    [url]="look_up"
    [isSidebar]="isSidebar"
  ></app-button-toggle>
</span>
<span *ngIf="type === 'toggle'">
  <app-toggle [url]="look_up" [isSidebar]="isSidebar"></app-toggle>
</span>
<span *ngIf="type === 'multi_list'">
  <span *ngFor="let url_info of getURLs()">
    <!-- <ng-container *ngIf="url_info.with_card; else mulit_list"> -->
    <app-entry-point
      [hidden]="reactivityData.get(url_info.url)?.hidden"
      [url]="url_info.url"
      [isSidebar]="isSidebar"
      [fxFlex]="flexData.get(url_info.url)?.fxFlex || '100%%'"
      [fxFlex.md]="flexData.get(url_info.url)?.fxFlex_md || '100%'"
      [fxFlex.sm]="flexData.get(url_info.url)?.fxFlex_sm || '100%'"
      [fxFlex.xs]="flexData.get(url_info.url)?.fxFlex_sm || '100%'"
      (fx)="setFlex(url_info.url, $event)"
      (rd)="setReactivity(url_info.url, $event)"
      class="padding"
    >
    </app-entry-point>
    <!-- </ng-container> -->
    <!-- <ng-template #mulit_list> -->
    <!-- <app-sub-entry-point [url]="url_info.url"></app-sub-entry-point> <br /> -->
    <br />
    <!-- </ng-template> -->
  </span>
</span>
<span *ngIf="type === 'multi_tabs'">
  <mat-tab-group>
    <mat-tab *ngFor="let url_info of getURLs()" [label]="url_info.name || ''">
      <br />
      <app-sub-entry-point
        [hidden]="reactivityData.get(url_info.url)?.hidden"
        (rd)="setReactivity(url_info.url, $event)"
        [url]="url_info.url"
        [isSidebar]="isSidebar"
        [fxFlex]="flexData.get(url_info.url)?.fxFlex || '100%'"
        [fxFlex.md]="flexData.get(url_info.url)?.fxFlex_md || '100%'"
        [fxFlex.sm]="flexData.get(url_info.url)?.fxFlex_sm || '100%'"
        [fxFlex.xs]="flexData.get(url_info.url)?.fxFlex_sm || '100%'"
        (rd)="setReactivity(url_info.url, $event)"
        (fd)="setFlex(url_info.url, $event)"

      ></app-sub-entry-point>
    </mat-tab>
  </mat-tab-group>
</span>

<span *ngIf="type === 'multi_expand'">
  <mat-accordion>
    <br /><br />
    <span *ngFor="let url_info of getURLs()">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ url_info.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-sub-entry-point
          [url]="url_info.url"
          [isSidebar]="isSidebar"
          [hidden]="reactivityData.get(url_info.url)?.hidden"
          [fxFlex]="flexData.get(url_info.url)?.fxFlex || '100%'"
          [fxFlex.md]="flexData.get(url_info.url)?.fxFlex_md || '100%'"
          [fxFlex.sm]="flexData.get(url_info.url)?.fxFlex_sm || '50%'"
          [fxFlex.xs]="flexData.get(url_info.url)?.fxFlex_sm || '100%'"
          (rd)="setReactivity(url_info.url, $event)"
          (fd)="setFlex(url_info.url, $event)"

        ></app-sub-entry-point>
      </mat-expansion-panel>
    </span>
  </mat-accordion>
</span>

<span *ngIf="type == 'simple_filter'">
  <app-simple-filter
    [url]="look_up"
    [isSidebar]="isSidebar"
  ></app-simple-filter>
</span>

<span *ngIf="type == 'simple_server_filter'">
  <app-simple-server-filter [url]="look_up"></app-simple-server-filter>
</span>

<span *ngIf="type == 'group_filter'">
  <app-group-filter [url]="look_up" [isSidebar]="isSidebar"></app-group-filter>
</span>

<span *ngIf="type == 'input'">
  <app-input [url]="look_up" [isSidebar]="isSidebar"></app-input>
</span>

<span *ngIf="type == 'download'">
  <app-app-download [url]="look_up"></app-app-download>
</span>

<span *ngIf="type == 'upload'">
  <app-app-upload [url]="look_up"></app-app-upload>
</span>

<span *ngIf="type == 'image'">
  <app-app-image [url]="look_up"></app-app-image>
</span>

<span *ngIf="type == 'highchart'">
  <app-highchart [url]="look_up"></app-highchart>
</span>

<span *ngIf="loading">
  <mat-progress-bar mode="query"></mat-progress-bar>
</span>
