<span *ngIf="data['status'] === 'success'" style=" width: 100%; display: inline-block;">
  <span class="success"> {{ data["message"] }}</span>
  <br>
  <span class="success"> Built using Zen Dash </span>
</span>

<span *ngIf="data['status'] === 'warn'">
  <span class="warn"> {{ data["message"] }}</span>
</span>

<span *ngIf="data['status'] === 'error'">
  <span class="error"> {{ data["message"] }}</span>
</span>

<span *ngIf="data['status'] === 'loading'" style="width: 100%; display: inline-block;">
  <span class="success"> Built using Zen Dash </span>
</span>

