<mat-form-field appearance="fill">
  <mat-label>{{ getLabel() }}</mat-label>


    <mat-select
      [formControl]="data_select_control"
      placeholder="getLabel()"
      (selectionChange)="detectChange($event)"
      [multiple]="isMulti()"
      #dataSelect
    >
      <mat-option>
        <ngx-mat-select-search
          [formControl]="data_search_control"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option
        *ngFor="let data_value of data_search | async"
        [value]="data_value"
      >
        {{ data_value }}
      </mat-option>
    </mat-select>
</mat-form-field>
