<span *ngIf="!((call.config.auth.SSO || call.config.auth.UP_Login) && auth.not_logged())">
  <span *ngIf="side_data !== undefined">
    <mat-selection-list [multiple]="false">
      <span *ngIf="isSideData()">
        <span *ngFor="let tab of getSideData(); let i = index">
          <p *ngIf="tab.icon; then thenBlock2 else elseBlock2"></p>
          <ng-template #thenBlock2>
            <mat-list-option [selected]="'page_' + i === page">
              <a mat-list-item [routerLink]="'.'"
                [queryParams]="get_page_url(i, tab.custom_url)" type="button" [style.height]="'45px'">
                <mat-icon>{{tab.icon}} </mat-icon> {{tab.label}}
              </a>
            </mat-list-option>
          </ng-template>
          <ng-template #elseBlock2>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
              <mat-expansion-panel-header>
                {{tab.name}}
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-list-option [selected]="'page_' + i + '_' + j === page"
                  *ngFor="let subtab of tab.subtabs let j = index">
                  <a mat-list-item [routerLink]="'.'" [queryParams]="get_subpage_url(i, j, subtab.custom_url)" type="button"
                    [style.height]="'45px'">
                    <mat-icon>{{subtab.icon}} </mat-icon> {{subtab.label}}
                  </a>
                </mat-list-option>
              </mat-nav-list>
            </mat-expansion-panel>
          </ng-template>
        </span>
      </span>
    </mat-selection-list>
    <br>
    <br>
    <ng-container *ngFor="let f of side_data.filters">
      <mat-divider></mat-divider> <br>
      <app-entry-point [hidden]="reactivityData.get(f.url)?.hidden" [url]="f.url" (fx)="setFlex(f.url, $event)"
        (rd)="setReactivity(f.url, $event)" [isSidebar]=true></app-entry-point> <br>
    </ng-container>
    <br>
  </span>
</span>
