<span *ngIf="side_data !== undefined">
  <mat-selection-list [multiple]="false">

    <mat-list-option *ngFor="let tab of side_data.tabs; let i = index" [value]="tab.label" [selected]="'page_'+ i === page" [style.height]="'50px'">
      <a [routerLink]="'.'" [queryParams]="{'page': 'page_'+ i}" type="button" [style.height]="'45px'">
        <mat-icon>{{tab.icon}}  </mat-icon>  {{tab.label}}
      </a>
    </mat-list-option>

  </mat-selection-list>
  <br>
  <ng-container *ngFor="let f of side_data.filters">
    <mat-divider></mat-divider> <br>
    <app-entry-point [url]="f.url" [isSidebar]=true></app-entry-point> <br>
  </ng-container>
 <br>

</span>
