/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  // display: unset!important;
  position: relative;
  overflow: auto;
  display: inline-block;

  // padding: 30px;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
