
<mat-card >
  <mat-card-header *ngIf="getTitle()">
    <h4>{{ getTitle() }}</h4>
  </mat-card-header>
  <mat-card-content>
    <app-sub-entry-point [url]="url"
                         [isSidebar]="isSidebar"
                         (rd)="rd.emit($event)"
                         (fd)="fx.emit($event)"
                         ></app-sub-entry-point>
  </mat-card-content>

  <mat-card-footer style="font-size: 10px; text-align: center" *ngIf="getFooter()">
    {{ getFooter() }}
  </mat-card-footer>
</mat-card>
