<span *ngIf="get_type() === 'fab'">
  <button mat-fab [color]="get_color()" [style]="get_style()" (click)="trigger()">
    <mat-icon> {{get_icon()}} </mat-icon>
  </button>
</span>
<span *ngIf="get_type() === 'mini_fab'">
  <button mat-fab [color]="get_color()" [style]="get_style()" (click)="trigger()">
    <mat-icon> {{get_icon()}} </mat-icon>
  </button>
</span>
<span *ngIf="get_type() === 'icon'">
  <button mat-fab [color]="get_color()" [style]="get_style()" (click)="trigger()">
    <mat-icon> {{get_icon()}} </mat-icon>
  </button>
</span>
