<div *ngIf="page">
  <div *ngFor="let row_data of page?.rows" style="padding: 10px">
    <mat-card>
      <mat-card-content>
        <div
          fxLayout="row wrap"
          fxLayout.lt-sm="column"
          fxLayoutGap="row_data.layoutGap"
          fxLayoutAlign="space-around center"
          fxLayoutAlign.lt-sm="space-around stretch"
          fxFlexFill
        >
          <app-entry-point
            [url]="instance.url"
            *ngFor="let instance of row_data.data"
            [fxFlex]="getFlex(instance.fxFlex, 'flex', instance.url)"
            [fxFlex.md]="getFlex(instance.fxFlex, 'flex_md', instance.url)"
            [fxFlex.sm]="getFlex(instance.fxFlex, 'flex_sm', instance.url)"
            [fxFlex.xs]="getFlex(instance.fxFlex, 'flex_xs', instance.url)"

            (fxFlex)="setFlex($event, instance.url)"
            class="padding"
          >
          </app-entry-point>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
